<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="ServerIp" value="192.168.2.29"/>
    <add key="ServerPort" value="8088"/>
    <add key="Account" value=""/>
    <add key="PassWord" value=""/>
    <add key="IsCheck" value="False"/>
    <add key="PlaceId" value=""/>
    <add key="Prefix" value=""/>
    <add key="Suffix" value=""/>
    <add key="FontSize" value=""/>
    <add key="HeaderTxt" value=""/>
    <add key="InitialValue" value=""/>
  
  <add key="aNumber" value=""/>
  <add key="sNumber" value=""/>
  <add key="price" value=""/>
  <add key="remark" value=""/>
  <add key="page" value=""/>
    <add key="publicationDateStr" value=""/>
  </appSettings>
</configuration>

